.carousel-caption {
    margin-bottom: 400px;
}

.carousel-caption a {
    color: white;
}

.hover-effect:hover {
   
    background: linear-gradient(
        45deg,
        hsla(168, 85%, 52%, 0.5),
        hsla(263, 88%, 45%, 0.5) 100%
      );
  }

.img-back{
    filter: blur(15px);
}

.card-img-top{
    height: 300px;
    width: 300px;
}

.btn{
    background-color: hsl(0, 0%, 90%);
    border: 1px hsl(0, 0%, 50%);
    outline: none;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: .3em;
}

.btn.btn-custom{
    color: black;
    background: linear-gradient(to right, hsl(270, 10%, 50%), hsl(36, 100%, 60%));
    border: 5px #222;
}


.btn.btn-custom:hover, .btn.btn-custom:focus{
    background: linear-gradient(to right, hsl(270, 10%, 60%), hsl(36, 100%, 50%));
    box-shadow: 0 0 5px 0 black;
}

.card-footer{
    text-align: center;
}

#music-events{
    padding-bottom: 5em;
}

.sec-section {
    background-image: linear-gradient(white, hsl(36, 100%, 30%));
}

.event-cards{
    padding-bottom: 5em;
}

.maps-head{
    padding: 10px;
}
